        <blockquote class="quote">
        <p class="quote__text">
            Bear is the most handsome person I've ever met, not only that, he is
            also very generous and rich. Every time I need money or in debt, he
            would just throw at me $100 000. I am very gratefull to be his friend.
            He said he would buy me a house for my birthday this year...
        </p>
        <footer>
            <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">Jennifer Smith</h3>
                <p class="quote__organization">AI Development Company</p>
            </div>
            </div>
        </footer>
        </blockquote>